-- Complete Contact Messages Setup
-- This creates the table and sets up proper RLS policies

-- First, create the contact_messages table
CREATE TABLE IF NOT EXISTS contact_messages (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  email TEXT NOT NULL,
  subject TEXT,
  message TEXT NOT NULL,
  status TEXT DEFAULT 'new',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  CONSTRAINT status_check CHECK (status IN ('new', 'read', 'replied'))
);

-- Enable Row Level Security
ALTER TABLE contact_messages ENABLE ROW LEVEL SECURITY;

-- Drop any existing policies first
DROP POLICY IF EXISTS "Allow anyone to insert contact messages" ON contact_messages;
DROP POLICY IF EXISTS "Allow authenticated users to read contact messages" ON contact_messages;
DROP POLICY IF EXISTS "Allow authenticated users to update contact messages" ON contact_messages;
DROP POLICY IF EXISTS "Allow anonymous users to insert contact messages" ON contact_messages;

-- Create policies that allow anonymous users to insert
CREATE POLICY "Allow anonymous users to insert contact messages" ON contact_messages
  FOR INSERT WITH CHECK (true);

-- Allow authenticated users to read messages
CREATE POLICY "Allow authenticated users to read contact messages" ON contact_messages
  FOR SELECT USING (auth.role() = 'authenticated');

-- Allow authenticated users to update messages
CREATE POLICY "Allow authenticated users to update contact messages" ON contact_messages
  FOR UPDATE USING (auth.role() = 'authenticated');

-- Create function to update updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ language 'plpgsql';

-- Create trigger to automatically update updated_at
DROP TRIGGER IF EXISTS update_contact_messages_updated_at ON contact_messages;
CREATE TRIGGER update_contact_messages_updated_at
  BEFORE UPDATE ON contact_messages
  FOR EACH ROW
  EXECUTE FUNCTION update_updated_at_column();